<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/student-search.css">
    <title>Student Search</title>
</head>

<body>

    <div class="sidebar">
        <div class="nav-logo">
            <img src="../images/aastu.png" alt="aastu logo">
            <span>AASTU GMS</span>
        </div>
        <div class="user-profile">
            <img src="../images/profile.png" alt="aastu logo" width="50px" height="50px">
            <span>John Doe</span>
        </div>

        <ul class="sidebar-nav">
            <li class="side-links"><img src="../images/search-white.png" alt="search icon">
                <a href="." class="sidenav-link">Search</a>
            </li>

            <li class="side-links"><img src="../images/student-white.png" alt="search icon">
                <a href="." class="sidenav-link">Student</a>
            </li>

            <li class="side-links"><img src="../images/teacher-white.png" alt="search icon">
                <a href="." class="sidenav-link">Staff</a>
            </li>

            <li class="side-links"><img src="../images/report-white.png" alt="search icon">
                <a href="." class="sidenav-link">Daily Report</a>
            </li>

            <li><img src="../images/logout-white.png" alt="search icon" width="50px" height="50px">
                <a href="." class="sidenav-link">Log Out</a>
            </li>

        </ul>
    </div>
    <main class="header_body">

        <div class="header">
            <img src="../images/profile.png" alt="avatar">
            <span>John Doe</span>
        </div>

        <div class="content-body ">
            <div class="burger-menu-container">

                <img src="../images/burger-menu-white.png" alt="burger menu">

            </div>
            <div class="search-box-container">
                <div class="search-box">
                    <img src="../images/search.png " alt="search icon " id="input-search-icon">
                    <input type="text" class="search-bar" placeholder="Search">
                    <img src="../images/more.png " alt="search menu" id="input-menu-icon">

                </div>
            </div>
            <div class="scanned-profile">
                <div class="avatar_name_id">
                    <!-- image section -->
                    <div class="avatar">
                        <!--  image of the student or staff -->
                        <img src="../images/avatar1.jpg" alt="avatar">

                    </div>

                    <!-- name and id section -->
                    <div class="name_id">
                        <!-- Name of the student or staff here -->

                        <h3>Rakeb Zengada</h3>
                        <!-- Id of the student or staff -->
                        <h4>ETS0889/12</h4>
                    </div>

                </div>

                <!-- devices container -->

                <div class="device_container">
                    <!-- title of the info section -->
                    <h2>Devices</h2>

                    <ul class="device_header">
                        <li class="device_id"><span> ID</span></li>
                        <li class="device_name"><span>Device Name</span></li>
                        <li class="device_serial"><span>Serial Number</span></li>
                        <li class="device_entry"><span>Last Entry </span></li>
                        <li class="device_exit"><span>Last Exit </span></li>
                        <li class="action"><span>Action </span></li>
                    </ul>

                    <!-- Devices registered for the user -->
                    <div class="device_list_container">

                        <form action="">
                            <ul class="device_list">
                                <li class="device_id"><span>1</span></li>
                                <li class="device_name"><span>HP</span></li>
                                <li class="device_serial"><span>wed33499c344</span></li>
                                <li class="device_entry"><span>25/25/2000 2:45PM</span></li>
                                <li class="device_exit"><span>25/25/2000 2:45PM</span></li>
                                <li class="action"> <button type="submit" method="post"> Edit </button> </li>

                            </ul>
                        </form>


                    </div>
                    <!-- the inline style for the form should be correcteed -->
                    <form action="verify" method="post" id="form1" style="width: 100%;">

                        <ul class="add_device">
                            <li class="device_id"><span id="tobe_added_Device_id">2</span>
                            </li>
                            <li class="device_name"><input id="device_name" name="deviceName" type="text" placeholder="Device Name"> </input>
                            </li>
                            <li class="device_serial"><input id="device_serial" name="serialNum" type="text" placeholder="Serial Number"></input>
                            </li>
                            <li class="device_entry"><input id="device_entry" name="lastEntry" type="text" placeholder="Last Entry"> </input>
                            </li>
                            <li class="device_exit"><input id="device_exit" name="lastExit" type="text" placeholder="Last Exit"> </input>
                            </li>
                            <li class="lastchild"> <button id="correctBtn" class="promptBtn lastchild" type="submit" form="form1"><img src="../images/correct.png" alt="add"></button>
                                <button id="closeBtn" class="promptBtn"><img src="../images/cancel.png" alt="close" ></button></li>

                        </ul>
                    </form>
                    <ul class="device">
                        <li class="device_id"><button class="addButton" onclick="add_device()"><img src="images/redplus.png" alt=""></button></li>
                        <li class="device_name"></li>
                        <li class="device_serial"></li>
                        <li class="device_entry"></li>
                        <li class="lastchild"></li>

                    </ul>
                </div>

            </div>
        </div>
    </main>

    <script>
        let search = document.getElementsByClassName('search-box')[0];

        search.addEventListener('click', focus)
        search.addEventListener('mouseup', remove)

        function focus() {
            console.log("called")
            search.classList.add('focus')
        }

        function remove() {
            console.log("moved")

            search.classList.remove('focus')
        }
    </script>

</body>

</html>